<div id="mobile-nav">
  <div id="menuToggle">
    <!-- Hidden checkbox is used as click reciever,
    so you can use the :checked selector on it. -->
    <input type="checkbox" />
    
    <!-- Spanspans to act as a hamburger. -->
    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <button id="shop-mobile-button"><li>
        SHOP 
        <img id="shop-down" class="mobile-arrow show" src="{{ 'down-min.png' | asset_url }}"</li>
        <img id="shop-up" class="mobile-arrow hide" src="{{ 'up-min.png' | asset_url }}"</li>
      </button>
        <ul id="shop-mobile-list" class="mobile-list closed">
<li><a href="https://theskinspot.com/collections/anti-aging-skin-care-products">Anti-Aging Skin Care Products</a></li>
<li><a href="https://theskinspot.com/collections/antioxidants">Antioxidants</a></li>
<li><a href="https://theskinspot.com/collections/body">Body + Cellulite</a></li>
<li><a href="https://theskinspot.com/collections/cleansers-exfoliators">Cleansers + Exfoliators</a></li>
<li><a href="https://theskinspot.com/collections/clothing-accessories">Clothing + Accessories</a></li>
<li><a href="https://theskinspot.com/collections/conscious-cosmetics">Conscious Cosmetics</a></li>
<li><a href="https://theskinspot.com/collections/eye-neck">Eye</a></li>
<li><a href="https://theskinspot.com/collections/feminine-rejuvenation">Feminine Rejuvenation</a></li>
<li><a href="https://theskinspot.com/collections/power-plate">Fitness</a></li>
<li><a href="https://theskinspot.com/products/rise-ai-giftcard">Gift Cards</a></li>
<li><a href="https://theskinspot.com/collections/growth-factors">Growth Factors</a></li>
<li><a href="https://theskinspot.com/collections/hair-growth">Hair Growth</a></li>
<li><a href="https://theskinspot.com/collections/hand-health-sanitization">Hand Rejuvenation</a></li>
<li><a href="https://theskinspot.com/collections/hyaluronic-acids">Hyaluronic Acids</a></li>
<li><a href="https://theskinspot.com/collections/masks">Masks</a></li>
<li><a href="https://theskinspot.com/collections/moisturizers-hydrators">Moisturizers</a></li>
<li><a href="https://theskinspot.com/collections/dr-nazarian-swag">Nazarian Swag</a></li>
<li><a href="https://theskinspot.com/collections/neck">Neck</a></li>
<li><a href="https://theskinspot.com/collections/oils">Oils</a></li>
<li><a href="https://theskinspot.com/collections/pads-wipes">Pads + Wipes</a></li>
<li><a href="https://theskinspot.com/collections/pigment-reducers">Pigment Reducers</a></li>
<li><a href="https://theskinspot.com/collections/post-procedure">Post Procedure</a></li>
<li><a href="https://theskinspot.com/collections/pregnant-nursing">Pregnant + Nursing</a></li>
<li><a href="https://theskinspot.com/collections/prescription-products">Prescription Products</a></li>
<li><a href="https://theskinspot.com/collections/regi-men">Regi-Men</a></li>
<li><a href="https://theskinspot.com/collections/retinol">Retinols</a></li>
<li><a href="https://theskinspot.com/collections/scar-reduction">Scar Reduction</a></li>
<li><a href="https://theskinspot.com/collections/serums-treatments">Serums</a></li>
<li><a href="https://theskinspot.com/collections/skin-care-tools-accessories-devices">Skin Care Tools & Devices</a></li>
<li><a href="https://theskinspot.com/collections/sunscreen-spf">Sunscreen + SPF</a></li>
<li><a href="https://theskinspot.com/collections/surgical-recovery">Surgical Recovery</a></li>
<li><a href="https://theskinspot.com/collections/toners">Toners</a></li>
<li><a href="https://theskinspot.com/collections/tools-devices">Tools</a></li>
<li><a href="https://theskinspot.com/collections/travel-essentials">Travel Essentials</a></li>
<li><a href="https://theskinspot.com/collections/supplements">Vitamin Supplements</a></li>
<li><a href="https://theskinspot.com/collections/wrinkle-reducers">Wrinkle Reducers</a></li>
        </ul>
      <button id="concerns-mobile-button"><li>
        CONCERNS 
        <img id="concerns-down" class="mobile-arrow show" src="{{ 'down-min.png' | asset_url }}"</li>
        <img id="concerns-up" class="mobile-arrow hide" src="{{ 'up-min.png' | asset_url }}"</li>
      </button>
        <ul id="concerns-mobile-list" class="mobile-list closed">
<li><a href="https://theskinspot.com/collections/acne-blemishes">Acne + Acne Scarring</a></li>
<li><a href="https://theskinspot.com/collections/anti-aging-skin-care-products">Aging Skin & Wrinkles</a></li>
<li><a href="https://theskinspot.com/collections/body">Body + Cellulite</a></li>
<li><a href="https://theskinspot.com/collections/bruising-laser-care">Bruising + Laser Care</a></li>
<li><a href="https://theskinspot.com/collections/chapped-lips">Chapped Lips</a></li>
<li><a href="https://theskinspot.com/collections/dry-aged-hands-hand-sanitization">Dry & Aged Hands + Hand Sanitization</a></li>
<li><a href="https://theskinspot.com/collections/dry-skin">Dry Skin</a></li>
<li><a href="https://theskinspot.com/collections/eyelashes">Eyelashes</a></li>
<li><a href="https://theskinspot.com/collections/eyelids">Eyelids</a></li>
<li><a href="https://theskinspot.com/collections/hyperpigmentation-melasma">Hyperpigmentation + Sun Spots</a></li>
<li><a href="https://theskinspot.com/collections/large-pores">Large Pores</a></li>
<li><a href="https://theskinspot.com/collections/latisse">Latisse</a></li>
<li><a href="https://theskinspot.com/collections/melasma">Melasma</a></li>
<li><a href="https://theskinspot.com/collections/dr-nazarian-swag">Nazarian Swag</a></li>
<li><a href="https://theskinspot.com/products/rise-ai-giftcard">Need a Perfect Gift?</a></li>
<li><a href="https://theskinspot.com/collections/oily-skin">Oily Skin</a></li>
<li><a href="https://theskinspot.com/collections/rosacea">Rosacea</a></li>
<li><a href="https://theskinspot.com/collections/scars">Scars</a></li>
<li><a href="https://theskinspot.com/collections/sensitive-skin">Sensitive Skin</a></li>
<li><a href="https://theskinspot.com/products/hand-love-gloves">Sun Protection Gloves</a></li>
<li><a href="https://theskinspot.com/collections/surgical-recovery">Surgical Recovery</a></li>
<li><a href="https://theskinspot.com/collections/thinning-hair">Thinning Hair</a></li>
<li><a href="https://theskinspot.com/collections/vaginal-aging">Vaginal Aging</a></li>
        </ul>
      <button id="brands-mobile-button"><li>
        BRANDS 
        <img id="brands-down" class="mobile-arrow show" src="{{ 'down-min.png' | asset_url }}"</li>
        <img id="brands-up" class="mobile-arrow hide" src="{{ 'up-min.png' | asset_url }}"</li>
      </button>
        <ul id="brands-mobile-list" class="mobile-list closed">
<li><a href="https://theskinspot.com/collections/alastin-skincare">Alastin</a></li>
<li><a href="https://theskinspot.com/collections/aquavit-skinworkout-collection">Aquavit SKINWORKOUT</a></li>
<li><a href="https://theskinspot.com/collections/biopelle">Biopelle</a></li>
<li><a href="https://theskinspot.com/collections/bluestone">Bluestone Sunshield</a></li>
<li><a href="https://theskinspot.com/collections/clinical-resolution">Clinical Resolution</a></li>
<li><a href="https://theskinspot.com/collections/cysteamine">Cyspera</a></li>
<li><a href="https://theskinspot.com/collections/defenage">DefenAge</a></li>
<li><a href="https://theskinspot.com/collections/eltamd">EltaMD</a></li>
<li><a href="https://theskinspot.com/collections/emc">EMC</a></li>
<li><a href="https://theskinspot.com/collections/environ-skincare">Environ Skincare</a></li>
<li><a href="https://theskinspot.com/collections/envy-pillow">EnVy Pillow</a></li>
<li><a href="https://theskinspot.com/collections/epionce">Epionce</a></li>
<li><a href="https://theskinspot.com/collections/is-clinical">iS Clinical</a></li>
<li><a href="https://theskinspot.com/collections/jaxon-lane">Jaxon Lane</a></li>
<li><a href="https://theskinspot.com/collections/vfit-plus">Joylux</a></li>
<li><a href="https://theskinspot.com/collections/kayo">Kayo</a></li>
<li><a href="https://theskinspot.com/collections/knesko-skin">Knesko Skin</a></li>
<li><a href="https://theskinspot.com/products/lasercap-lasercap-hd">LaserCap</a></li>
<li><a href="https://theskinspot.com/collections/latisse">Latisse</a></li>
<li><a href="https://theskinspot.com/collections/lightstim">LightStim</a></li>
<li><a href="https://theskinspot.com/collections/lumity">Lumity</a></li>
<li><a href="https://theskinspot.com/collections/mesolyft">MesoLyft</a></li>
<li><a href="https://theskinspot.com/collections/dr-nazarian-swag">Nazarian Swag</a></li>
<li><a href="https://theskinspot.com/collections/nazarianenhance">NazarianEnhance</a></li>
<li><a href="https://theskinspot.com/collections/nazarianhair">NazarianHair</a></li>
<li><a href="https://theskinspot.com/collections/nazarianskin">NazarianSkin</a></li>
<li><a href="https://theskinspot.com/collections/nuface">NuFACE</a></li>
<li><a href="https://theskinspot.com/collections/nutrafol">Nutrafol</a></li>
<li><a href="https://theskinspot.com/collections/obagi">Obagi</a></li>
<li><a href="https://theskinspot.com/collections/ocumend">Ocumend</a></li>
<li><a href="https://theskinspot.com/collections/precision-medical-products">Ortho8</a></li>
<li><a href="https://theskinspot.com/collections/pca-skin">PCA Skin</a></li>
<li><a href="https://theskinspot.com/collections/power-plate">Power Plate</a></li>
<li><a href="https://theskinspot.com/collections/propatch">ProPatch+</a></li>
<li><a href="https://theskinspot.com/collections/revision">Revision</a></li>
<li><a href="https://theskinspot.com/collections/saian">Saian</a></li>
<li><a href="https://theskinspot.com/collections/sculptpatch">SculptPatch</a></li>
<li><a href="https://theskinspot.com/collections/sente">Sente</a></li>
<li><a href="https://theskinspot.com/collections/silagen-1">Silagen</a></li>
<li><a href="https://theskinspot.com/collections/skinceuticals">SkinCeuticals</a></li>
<li><a href="https://theskinspot.com/collections/skinmedica">SkinMedica</a></li>
<li><a href="https://theskinspot.com/products/rise-ai-giftcard">The Skin Spot- Gift Card</a></li>
<li><a href="https://theskinspot.com/collections/upneeq">Upneeq</a></li>
<li><a href="https://theskinspot.com/collections/zensa">Zensa</a></li>
     </ul>
      <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/theskinspot/30min?hide_gdpr_banner=1'});return false;"><li>FREE CONSULTATION</li></a>
      <a href="https://theskinspot.com/pages/rewards"><li>LOYALTY PROGRAM</li></a>
      <a href="https://theskinspot.com/blogs/the-edit?cat=skincare"><li>THE EDIT BLOG</li></a>
      <a href="https://theskinspot.com/pages/about"><li>ABOUT US</li></a>
    </ul>
  </div>
</div>

<script>
  const dropdowns = ['shop', 'concerns', 'brands'];

  dropdowns.forEach(function(dropdown){
    const button = document.getElementById(`${dropdown}-mobile-button`);
    const menu = document.getElementById(`${dropdown}-mobile-list`);
    const upButton = document.getElementById(`${dropdown}-up`);
    const downButton = document.getElementById(`${dropdown}-down`);

    button.addEventListener('click',function(){
      if(button.nextElementSibling.classList.contains('closed')){
        button.nextElementSibling.classList.remove('closed');
        downButton.classList.add('hide');
        upButton.classList.remove('hide');
      } else{
        button.nextElementSibling.classList.add('closed');
        upButton.classList.add('hide');
        downButton.classList.remove('hide');
      }
    })
  })
  const checkbox = document.querySelector('div#menuToggle input')
  checkbox.addEventListener('change', function() {
    if (this.checked) {
      document.body.style.overflow = "hidden";
      document.getElementById('menu').style.display = "block";
    } else {
      document.body.style.overflow = "visible";
      document.getElementById('menu').style.display = "none";
    }
  });

</script>