<header>
  <div id="header-left">
    <div id="header-mobile-icons" class="mobile-only">
      {% include 'mobile-menu.liquid' %}
      {% include 'mobile-search-icon.liquid' %}
    </div>
  </div>
  <div id="header-middle">
    <div id="header-logo-container">
      <a href="/">
        <img height="100%" width="100%" id="header-logo" alt="The Skin Spot Logo" src="https://cdn.shopify.com/s/files/1/0066/5681/9236/files/skin-spot-logo-whitebg.png?v=1674615303">
      </a>
    </div>
  </div>
  <div id="header-right">
    <div id="header-right-icons">
      <div id="cart-icon-container">
        <a id="header-cart-link" href="/cart">
          <svg width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12L8 8C8 5.79086 9.79086 4 12 4V4C14.2091 4 16 5.79086 16 8L16 12" stroke="#757575" stroke-linecap="round"/>
            <path d="M3.69435 12.6678C3.83942 10.9269 3.91196 10.0565 4.48605 9.52824C5.06013 9 5.9336 9 7.68053 9H16.3195C18.0664 9 18.9399 9 19.514 9.52824C20.088 10.0565 20.1606 10.9269 20.3057 12.6678L20.8195 18.8339C20.904 19.8474 20.9462 20.3542 20.6491 20.6771C20.352 21 19.8435 21 18.8264 21H5.1736C4.15655 21 3.64802 21 3.35092 20.6771C3.05382 20.3542 3.09605 19.8474 3.18051 18.8339L3.69435 12.6678Z" stroke="#757575"/>
          </svg>
        </a>
      </div>
      <div id="favorites-icon-container">
        <div class="iwish-float-icon" title="Wishlist">
          <span class="iwish_svg_icon">
            <a id="header-cart-link" href="#">
              <svg width="35px" height="35px" viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.6706 5.4736C17.6806 3.8336 14.7206 4.1236 12.8906 5.9536L12.0006 6.8436L11.1106 5.9536C9.29063 4.1336 6.32064 3.8336 4.33064 5.4736C2.05064 7.3536 1.93063 10.7436 3.97063 12.7836L11.6406 20.4536C11.8406 20.6536 12.1506 20.6536 12.3506 20.4536L20.0206 12.7836C22.0706 10.7436 21.9506 7.3636 19.6706 5.4736Z" stroke="#757575" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
          </span>
        </div>
      </div>
    </div>
    <div id="search-bar-desktop-container" class="desktop-only">
      {% include 'new-search-bar-desktop' %}
    </div>
  </div>
  <div id="header-top-links-container" class="desktop-only">
    <table id="header-top-links-table" class="navbar">
      <tr>
        <td>
          <div class="dropdown">
            <button class="dropbtn">SHOP</button>
            <div class="dropdown-content">
              <table class="dropdown-table">

<tr><td><a href="https://theskinspot.com/products/rise-ai-giftcard">Gift Cards</a></td><td><a href="https://theskinspot.com/collections/neck">Neck</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/prescription-products">Prescription Products</a></td><td><a href="https://theskinspot.com/collections/oils">Oils</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/anti-aging-skin-care-products">Anti-Aging Skin Care Products</a></td><td><a href="https://theskinspot.com/collections/pads-wipes">Pads + Wipes</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/antioxidants">Antioxidants</a></td><td><a href="https://theskinspot.com/collections/pigment-reducers">Pigment Reducers</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/body">Body + Cellulite</a></td><td><a href="https://theskinspot.com/collections/post-procedure">Post Procedure</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/cleansers-exfoliators">Cleansers + Exfoliators</a></td><td><a href="https://theskinspot.com/collections/pregnant-nursing">Pregnant + Nursing</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/clothing-accessories">Clothing + Accessories</a></td><td><a href="https://theskinspot.com/collections/regi-men">Regi-Men</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/conscious-cosmetics">Conscious Cosmetics</a></td><td><a href="https://theskinspot.com/collections/retinol">Retinols</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/eye-neck">Eye</a></td><td><a href="https://theskinspot.com/collections/scar-reduction">Scar Reduction</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/feminine-rejuvenation">Feminine Rejuvenation</a></td><td><a href="https://theskinspot.com/collections/serums-treatments">Serums</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/power-plate">Fitness</a></td><td><a href="https://theskinspot.com/collections/skin-care-tools-accessories-devices">Skin Care Tools & Devices</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/growth-factors">Growth Factors</a></td><td><a href="https://theskinspot.com/collections/sunscreen-spf">Sunscreen + SPF</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/hair-growth">Hair Growth</a></td><td><a href="https://theskinspot.com/collections/surgical-recovery">Surgical Recovery</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/hand-health-sanitization">Hand Rejuvenation</a></td><td><a href="https://theskinspot.com/collections/toners">Toners</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/hyaluronic-acids">Hyaluronic Acids</a></td><td><a href="https://theskinspot.com/collections/tools-devices">Tools</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/masks">Masks</a></td><td><a href="https://theskinspot.com/collections/travel-essentials">Travel Essentials</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/moisturizers-hydrators">Moisturizers</a></td><td><a href="https://theskinspot.com/collections/supplements">Vitamin Supplements</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/dr-nazarian-swag">Nazarian Swag</a></td><td><a href="https://theskinspot.com/collections/wrinkle-reducers">Wrinkle Reducers</a></td></tr>
                
              </table>
            </div>
          </div>
        </td>
        <td>
          <div class="dropdown">
            <button class="dropbtn">CONCERNS</button>
            <div class="dropdown-content">
              <table class="dropdown-table">
                
<tr><td><a href="https://theskinspot.com/products/rise-ai-giftcard">Need a Perfect Gift?</a></td><td><a href="https://theskinspot.com/collections/large-pores">Large Pores</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/acne-blemishes">Acne + Acne Scarring</a></td><td><a href="https://theskinspot.com/collections/melasma">Melasma</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/anti-aging-skin-care-products">Aging Skin & Wrinkles</a></td><td><a href="https://theskinspot.com/collections/dr-nazarian-swag">Nazarian Swag</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/body">Body + Cellulite</a></td><td><a href="https://theskinspot.com/collections/oily-skin">Oily Skin</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/bruising-laser-care">Bruising + Laser Care</a></td><td><a href="https://theskinspot.com/collections/rosacea">Rosacea</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/chapped-lips">Chapped Lips</a></td><td><a href="https://theskinspot.com/collections/scars">Scars</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/dry-aged-hands-hand-sanitization">Dry & Aged Hands + Hand Sanitization</a></td><td><a href="https://theskinspot.com/collections/sensitive-skin">Sensitive Skin</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/dry-skin">Dry Skin</a></td><td><a href="https://theskinspot.com/collections/surgical-recovery">Surgical Recovery</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/eyelashes">Eyelashes</a></td><td><a href="https://theskinspot.com/collections/thinning-hair">Thinning Hair</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/eyelids">Eyelids</a></td><td><a href="https://theskinspot.com/collections/vaginal-aging">Vaginal Aging</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/hyperpigmentation-melasma">Hyperpigmentation + Sun Spots</a></td><td><a href="https://theskinspot.com/products/hand-love-gloves">Sun Protection Gloves</a></td></tr>
<tr><td><a href="https://theskinspot.com/collections/latisse">Latisse</a></td><td></td></tr>
        
              </table>
            </div>
          </div>
        </td>
        <td>
          <div class="dropdown">
            <button class="dropbtn">BRANDS</button>
            <div class="dropdown-content">
<table class="dropdown-table">
   <tr>
    <td><a href="https://theskinspot.com/collections/alastin-skincare">Alastin</a></td>
    <td><a href="https://theskinspot.com/collections/aquavit-skinworkout-collection">Aquavit SKINWORKOUT</a></td>
    <td><a href="https://theskinspot.com/collections/biojuve">Biojuve</a></td>
  </tr>
  <tr>
    <td><a href="https://theskinspot.com/collections/biopelle">Biopelle</a></td>
    <td><a href="https://theskinspot.com/collections/bluestone">Bluestone Sunshield</a></td>
    <td><a href="https://theskinspot.com/collections/clinical-resolution">Clinical Resolution</a></td>
  </tr>
  <tr>
    <td><a href="https://theskinspot.com/collections/cysteamine">Cyspera</a></td>
    <td><a href="https://theskinspot.com/collections/defenage">DefenAge</a></td>
    <td><a href="https://theskinspot.com/collections/eltamd">EltaMD</a></td>
  </tr>
  <tr>
    <td><a href="https://theskinspot.com/collections/emc">EMC</a></td>
    <td><a href="https://theskinspot.com/collections/environ-skincare">Environ Skincare</a></td>
    <td><a href="https://theskinspot.com/collections/envy-pillow">EnVy Pillow</a></td>
  </tr>
  <tr>
    <td><a href="https://theskinspot.com/collections/epionce">Epionce</a></td>
    <td><a href="https://theskinspot.com/collections/is-clinical">iS Clinical</a></td>
    <td><a href="https://theskinspot.com/collections/jaxon-lane">Jaxon Lane</a></td>
  </tr>
  <tr>
    <td><a href="https://theskinspot.com/collections/vfit-plus">Joylux</a></td>
    <td><a href="https://theskinspot.com/collections/kayo">Kayo</a></td>
    <td><a href="https://theskinspot.com/collections/knesko-skin">Knesko Skin</a></td>
  </tr>
  <tr>
    <td><a href="https://theskinspot.com/products/lasercap-lasercap-hd">LaserCap</a></td>
    <td><a href="https://theskinspot.com/collections/latisse">Latisse</a></td>
    <td><a href="https://theskinspot.com/collections/lightstim">LightStim</a></td>
  </tr>
  <tr>
    <td><a href="https://theskinspot.com/collections/lumity">Lumity</a></td>
    <td><a href="https://theskinspot.com/collections/mesolyft">MesoLyft</a></td>
    <td><a href="https://theskinspot.com/collections/nazarianenhance">NazarianEnhance</a></td>
  </tr>
  <tr>
    <td><a href="https://theskinspot.com/collections/nazarianhair">NazarianHair</a></td>
    <td><a href="https://theskinspot.com/collections/nazarianskin">NazarianSkin</a></td>
    <td><a href="https://theskinspot.com/collections/dr-nazarian-swag">Nazarian Swag</a></td>
  </tr>
  <tr>
    <td><a href="https://theskinspot.com/collections/nuface">NuFACE</a></td>
    <td><a href="https://theskinspot.com/collections/nutrafol">Nutrafol</a></td>
    <td><a href="https://theskinspot.com/collections/obagi">Obagi</a></td>
  </tr>
  <tr>
    <td><a href="https://theskinspot.com/collections/ocumend">Ocumend</a></td>
    <td><a href="https://theskinspot.com/collections/precision-medical-products">Ortho8</a></td>
    <td><a href="https://theskinspot.com/collections/pca-skin">PCA Skin</a></td>
  </tr>
  <tr>
    <td><a href="https://theskinspot.com/collections/power-plate">Power Plate</a></td>
    <td><a href="https://theskinspot.com/collections/propatch">ProPatch+</a></td>
    <td><a href="https://theskinspot.com/collections/revision">Revision</a></td>
  </tr>
  <tr>
    <td><a href="https://theskinspot.com/collections/saian">Saian</a></td>
    <td><a href="https://theskinspot.com/collections/sente">Sente</a></td>
    <td><a href="https://theskinspot.com/collections/silagen-1">Silagen</a></td>
  </tr>
  <tr>
    <td><a href="https://theskinspot.com/collections/skinceuticals">SkinCeuticals</a></td>
    <td><a href="https://theskinspot.com/collections/skinmedica">SkinMedica</a></td>
    <td><a href="https://theskinspot.com/products/rise-ai-giftcard">The Skin Spot- Gift Card</a></td>
  </tr>
  <tr>
    <td><a href="https://theskinspot.com/collections/zensa">Zensa</a></td>
    <td><a href="https://theskinspot.com/collections/upneeq">Upneeq</a></td>
    <td></td> <!-- Empty cell for the missing value in the third column -->
  </tr>
</table
            </div>
          </div>
        </td>
        <td><a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/theskinspot/15min?hide_gdpr_banner=1'});return false;">FREE CONSULTATION</a></td>
        <td><a href="https://theskinspot.com/pages/rewards">LOYALTY PROGRAM</a></td>
        <td><a href="https://theskinspot.com/pages/sales-promotions">PROMOTIONS</a></td>
        <td><a href="https://theskinspot.com/blogs/the-edit">THE EDIT BLOG</a></td>
        <td><a href="https://theskinspot.com/pages/about">ABOUT US</a></td>
      </tr>
    </table>
  </div>
  <div id="header-bottom-links-container" class="">
    <table id="header-bottom-links-table" class="navbar">
      <tr>
        <td><a href="https://theskinspot.com/pages/shipping-policy"><img height="27px" width="37px" src="{{ 'header-1.svg' | asset_url }}" alt="Free Shipping Over $99"><span id="free-shipping">Free Shipping Over $99</span></a></td>
        <td><a href="#email_61265462"><img height="27px" width="37px" src="{{ 'header-2.svg' | asset_url }}" alt="New Customers Save 15%"><span>New Customers Save 15%</span></a></td>
        <td><a href="#"><img height="27px" width="37px" src="{{ 'header-3.svg' | asset_url }}" alt="Authorized Reseller"><span>Authorized Reseller</span></a></td>
        <td class="desktop-only"><a href="#"><img height="27px" width="37px" src="{{ 'header-4.svg' | asset_url }}" alt="Subscription Savings"><span id="subscription-savings">Subscription Savings</span></a></td>
        <td class="desktop-only"><a href="https://theskinspot.com/pages/rewards"><img height="27px" width="37px" src="{{ 'header-5.svg' | asset_url }}" alt="Earn Loyalty Points"><span id="earn-loyalty">Earn Loyalty Points</span></a></td>
        <td class="desktop-only"><a href="#"><img height="27px" width="37px" src="{{ 'header-6.svg' | asset_url }}" alt="Samples with Purchase"><span id="samples">Samples with Purchase</span></a></td>
      </tr>
    </table>
  </div>
  
</header>

<style>
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky ~ #MainContent {
  padding-top: 224px;
}

/* Makes sure the Calendly can be exited. If disabled, when you click into the Calendly schedule, you won't see the 'X' to exit in the top right */
.calendly-popup-close {
  display: block !important;
}
@media only screen and (max-width: 989px){
  .sticky ~ #MainContent {
    padding-top: 128px;
  }
}
@media only screen and (max-width: 649px){
  .sticky ~ #MainContent {
    padding-top: 117px;
  }
}
@media only screen and (max-width: 500px){
  .sticky ~ #MainContent {
    padding-top: 111px;
  }
}
@media only screen and (max-width: 399px){
  .sticky ~ #MainContent {
    padding-top: 106px;
  }
} 
@media only screen and (min-width: 1288px){
  .sticky ~ #MainContent {
    padding-top: 195px;
  }
}
</style>

<script>
  // When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the header
var header = document.getElementById("shopify-section-new-header");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>                  



                  

